* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-size: 14px;
}

body {
  background-color: white;
  color: black;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100vh;
  max-height: 100vh;
}

#header {
  margin: 10px;
  grid-column: 1 / 4;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-img {
  max-width: 45%;
  filter: invert() drop-shadow(0px 0px 3px black);
  /* filter: invert(); */
}

#sidebar {
  grid-column: 1;
  grid-row: 2;
  padding: 10px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

#sidebar-header {
  margin-bottom: 10px;
  filter: drop-shadow(0 0 2px rgb(0, 0, 0));
}

#nyc {
  font-weight: 300;
}

.sidebar-links {
  color: rgb(12, 106, 50);
}

a.sidebar-links {
  text-decoration: underline;
  display: block;
}

#bottom-sidebar-text {
  margin-top: auto;
  font-size: 10px;
  filter: drop-shadow(0 0 2px rgb(0, 0, 0));
}

#imgTag {
  max-width: 90%;
  max-height: 90vh;
}

#visual-main-content {
  grid-column: 2/3;
  max-height: 100vh;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  #visual-main-content {
    grid-column: 2;
  }
}
